@inject ILogger<NavMenu> logger
@inject Blazored.LocalStorage.ILocalStorageService ls
@inject NavigationManager navManager
@inject IChatHttpClient chatHttpClient

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ReenbitMessenger.Maui</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="chatsList">
                        <span class="bi bi-chat-left-dots-fill" aria-hidden="true" style="display:flex; margin-top:auto"></span> Chats
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="usersList">
                        <span class="bi bi-people-fill" aria-hidden="true" style="display:flex; margin-top:auto"></span> Users
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="Logout">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true" style="display:flex; margin-top:auto"></span> Logout
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-left" aria-hidden="true" style="display:flex; margin-top:auto"></span> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="bi bi-person-plus" aria-hidden="true" style="display:flex; margin-top:auto"></span> Sign up
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code{
    private async Task Logout(){
        await ls.RemoveItemAsync("jwt");
        await chatHttpClient.DeleteToken();
        logger.LogWarning("Logged out");

        navManager.NavigateTo("", true);
    }
}
