@page "/chatsList"

@inject IChatHttpClient httpClient
@inject NavigationManager navManager
@inject IDialogService DialogService

<h3>Your chats</h3>

<style>
    .limited {
        max-width: 200px
    }
</style>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateChatsList">Refresh</MudButton>
<MudDivider />

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateGroupChat">Create group chat</MudButton>
<MudTextField @bind-Value="@newGroupChatName" Label="Name of a new chat"
                                  Variant="Variant.Filled" Class="limited"></MudTextField>

<MudDivider />

<MudButton @onclick="OpenJoinGroupChatDialog" Variant="Variant.Filled" Color="Color.Primary">
    Join group chat
</MudButton>

@if (groupChats is null)
{
    <p style="margin: 15px"><em>We got a problem here</em></p>
}
else
{
    <MudDataGrid T="GroupChat" Items="@groupChats" Hideable="true" RowClick="async (e) => await OnGroupClicked(e.Item.Id)">
        <Columns>
            <PropertyColumn Property="chatId => chatId.Name" Title="Username" />
            <PropertyColumn Property="chatId => chatId.Id" Title="Id" />
        </Columns>
    </MudDataGrid>
}

@code {
    private string newGroupChatName { get; set; } = string.Empty;

    private string groupChatId { get; set; } = string.Empty;

    IEnumerable<GroupChat> groupChats { get; set; } = new List<GroupChat>();

    protected override async Task OnInitializedAsync()
    {
        await UpdateChatsList();
    }
}
