@page "/userprofile"

@inject UserProfileService userProfileService
@inject NavigationManager navManager
@using System.Linq.Expressions

<style>    
    .limited {
        max-width: 200px
    }

    .centered-parent {
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;
    }
</style>

<h3>Your profile</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="RefreshUserProfile">Update user info</MudButton>

@if (userInfoModel is null)
{
    <p>Loading...</p>
}
else
{
    <div class="centered-parent">
        <MudAvatar Style="height:20vh; width:20vh; min-height:100px; min-width:100px">
            <MudImage Src="@(string.IsNullOrEmpty(avatarUrl) ? "images/default-icon.png" : avatarUrl)"></MudImage>
        </MudAvatar>

        <div class="centered-content">
            <MudTextField @bind-Value="userInfoModel.Username" Label="Username"
                          Variant="Variant.Filled" Class="limited"></MudTextField>

            <MudTextField @bind-Value="userInfoModel.Email" Label="Email"
                          Variant="Variant.Filled" Class="limited"></MudTextField>
        </div>

        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="EditUserProfile">
            Edit user credentials</MudButton>

        <MudDivider/>

        <MudFileUpload T="IBrowserFile" FilesChanged="OnFileChanged">
            <ButtonTemplate>
                <MudButton HtmlTag="label"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.CloudUpload"
                           for="@context.Id">
                    Choose new avatar icon
                </MudButton>
            </ButtonTemplate>
        </MudFileUpload>

        <MudDivider/>

        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="DeleteUserAvatar">Clear existing avatar icon</MudButton>
    </div>
}
