@page "/videocall"

@inject IJSRuntime JsRuntime
@inject ILocalStorageService localStorage
@inject NavigationManager navManager
@inject VideoCallHubService callService

<h3>Video call menu</h3>

<MudTextField @bind-Value="@_channel" Label="Call Id"
                          Variant="Variant.Filled" Class="limited"></MudTextField>
<MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="JoinRoom">Join</MudButton>
<MudDivider />

<MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="CreateRoom">Create new room</MudButton>
<MudDivider />

@code {
    private string _channel { get; set; } = "foo";

    private IJSObjectReference? _module;

    private bool _startDisabled;
    private bool _callDisabled = true;
    private bool _hangupDisabled = true;

    private async Task JoinRoom()
    {
        navManager.NavigateTo(navManager.Uri + "/" + _channel, true);
    }

    protected override async Task OnInitializedAsync()
    {
        var token = await localStorage.GetItemAsStringAsync("jwt");
        await callService.InitializeAsync(token);

        await callService.SubscribeAsync<string>("ReceiveNewRoomId", OnRoomCreated);

        await callService.StartAsync();
    }

    private async Task CreateRoom()
    {
        await callService.CreateRoomAsync();
    }

    private void OnRoomCreated(string roomId)
    {
        navManager.NavigateTo(navManager.Uri + "/" + roomId, true);
    }
}
