@page "/videocall"

@inject IJSRuntime JsRuntime
@inject NavigationManager navManager

<h3>VideoCall</h3>

<MudTextField @bind-Value="@_channel" Label="Call Id"
                          Variant="Variant.Filled" Class="limited"></MudTextField>
<MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="JoinRoom">Join</MudButton>
<MudDivider />

@code {
    private string _channel { get; set; } = "foo";

    private IJSObjectReference? _module;

    private bool _startDisabled;
    private bool _callDisabled = true;
    private bool _hangupDisabled = true;

    private async Task JoinRoom()
    {
        navManager.NavigateTo(navManager.Uri + "/" + _channel, true);
    }
}
